.payPopUp {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.popCnt {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    animation: popupAnimation 0.3s ease-out;
    position: relative;
}

@keyframes popupAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popHdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.popHdr .popHdr2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.popCbtn {
    cursor: pointer;
    font-size: 20px;
    color: #333;
    transition: color 0.3s;
}

.popCbtn:hover {
    color: #ff4d4d;
}

.purDtl .popHdr3 {
    margin: 0;
    font-size: 16px;
    color: #444;
}

.purDtl .proPrc {
    font-size: 20px;
    font-weight: 600;
    color: #007bff;
}

.payMd {
    margin-top: 20px;
}

.payMd .popHdr3 {
    margin: 0;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.payMd .payMtd {
    width: calc(100% - 21px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    max-height: 0.9rem;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

img.payMdLgo {
    max-width: 2.4rem;
    width: 100%;
    background: #ffffff;
    padding: 4px;
    border-radius: 0.2rem;
}

.PayBtn {
    background-color: #333;
    color: #fffdfd;
    font-weight: bold;
}

.PayBtn:hover {
    background-color: #36d3d339;
    color: #000000;
}

.payIfo,
.CnfrTxt {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
}

.payIfo .payAlnk,
.CnfrTxt .payAlnk {
    color: #007bff;
}

.payIfo .payAlnk:hover,
.CnfrTxt .payAlnk:hover {
    text-decoration: none;
}

p.CprtTxt, .payAlnk {
    margin: 10px 0 auto;
    font-size: 10px;
    text-align: center;
    color:gainsboro;
}
